.App {
  text-align: center;
  color:maroon;
  background-color: maroon; /* this sets the background color to maroon */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: maroon;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(222, 66, 66);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
